/* styles/login.module.css */

.container {
    /* 全体のレイアウトのスタイル */
    width: 391px;
    height: 826px;
    flex-shrink: 0;
    background: #fef9f0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center !important; /* 垂直方向の中央揃え */
  }

  .logo {
    /* ロゴのスタイル */
  width: 201px;
  height: 35px;
  display: block;
  margin: 85px auto 0; /* 上側の余白を追加 */
  margin-bottom: 20px; /* 下側の余白 */
  }

.loginTitle {
    text-align: center !important;
    flex-shrink: 0;
    color: #787070;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

.nav {
  /* ナビゲーションのスタイル */
  display: flex;
  flex-direction: column;
}

.cell {
  /* セル全体のスタイル */
  margin-bottom: 16px;
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
}

.title {
  /* タイトルのスタイル */
  width: 89px;
  height: 30px;
  flex-shrink: 0;
  color: #787070;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 0;
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
}

.bold {
  /* 太字のスタイル */
  font-weight: bold;
}

.input {
  /* 入力フォームのスタイル */
  width: 285px;
  padding: 10px;
  border: 1px solid #C9C3C3;
  background-color: #FAF9F9;
  white-space: nowrap; /* テキストが改行されないようにする */
}

.buttonContainer {
  /* ボタンのコンテナのスタイル */
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  margin-top: 24px; /* 上側の余白 */
  margin-bottom: 24px; /* 下側の余白 */
}

/* ログインボタン */
.loginButton {
    background-color: #F9DEB4;
    color: #3E3939;
    font-family: Noto Sans;
    border: none;
    cursor: pointer;
    width: 309px;
    height: 45px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center !important; /* 水平方向の中央揃え */
    align-items: center !important; /* 垂直方向の中央揃え */
    margin-bottom: 0px;
  }
  
  /* アカウント作成ボタン */
  .createAccountButton {
    background-color: #FFF1DC;
    color: #E7854E;
    border: none;
    cursor: pointer;
    width: 309px;
    height: 45px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center !important; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
  }

.horizontalLine {
  /* 横棒のスタイル */
  width: 309px;
  height: 1px;
  background-color: #787070;
  margin-top: 16px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center !important; /* 水平方向の中央揃え */
}
